In [4]:
lista1 = ["Manzana", 4, False]
lista2 = ["Pera", 2, True]

In [5]:
lista1 + lista2

['Manzana', 4, False, 'Pera', 2, True]

In [6]:
lista2 + lista1

['Pera', 2, True, 'Manzana', 4, False]

In [7]:
lista1 = ["Manzana", 4, False]

In [8]:
lista1 * 3

['Manzana', 4, False, 'Manzana', 4, False, 'Manzana', 4, False]

In [9]:
lista1 + lista1 + lista1

['Manzana', 4, False, 'Manzana', 4, False, 'Manzana', 4, False]

In [10]:
lista1 = ["Manzana", 4, False]

In [11]:
"Manzana" in lista1

True

In [12]:
False in lista1

True

In [13]:
"Pera" in lista1

False

In [14]:
lista1 = ["Manzana", 4, False]
del lista1[1]

In [15]:
lista1

['Manzana', False]

In [16]:
lista1 = [2, 3, 5, 8]
sum(lista1)

18

In [17]:
lista2 = ["Manzana", "Pera"]
min(lista2)

'Manzana'

In [18]:
lista1 = ["Manzana", 4, False]
lista1.append(2)

In [19]:
lista1

['Manzana', 4, False, 2]

In [20]:
lista1 = ["Manzana", "Pera", "Frutilla", "Frutilla", "Manzana"]
lista1.count("Manzana")

2

In [21]:
lista1 = ["Manzana", "Frutilla", "Manzana"]
lista1.index("Manzana")

0

In [22]:
lista1.index("Pera")

ValueError: 'Pera' is not in list

In [ ]:
lista1 = ["Manzana", "Frutilla", "Manzana"]
lista1.remove("Manzana")

lista1

['Frutilla', 'Manzana']

In [ ]:
lista1.remove("Pera")

ValueError: list.remove(x): x not in list

In [ ]:
lista1 = ["Manzana", "Frutilla", "Pera"]
lista1

['Manzana', 'Frutilla', 'Pera']

In [ ]:
lista1.reverse()
lista1

['Pera', 'Frutilla', 'Manzana']

In [ ]:
lista1 = [3, 2, 4, 7, 9]
lista1.sort()
lista1

[2, 3, 4, 7, 9]

In [ ]:
lista1.sort(reverse=True)
lista1

[9, 7, 4, 3, 2]

In [ ]:
lista1 = [1, 2, 3, 4, 6]
lista1.insert(4, 5)
lista1

[1, 2, 3, 4, 5, 6]

In [ ]:
lista1.insert(6, 7)
lista1

[1, 2, 3, 4, 5, 6, 7]

In [ ]:
lista1.insert(8, 9) #Ojopiojo
lista1

[1, 2, 3, 4, 5, 6, 7, 9]

In [ ]:
lista1 = ["Manzana", 1, True]

for elemento in lista1:
    print(elemento)

Manzana
1
True

In [ ]:
lista2 = [3, 1, 2, 5]

for num in lista2:
    print(num)

3
1
2
5

In [ ]:
lista1 = ["Manzana", 1, True]
i = 0

while i < len(lista1):
    print(lista1[i])
    i += 1

Manzana
1
True

In [ ]:
#Caso 1
lista1 = [2, 5, 8]
lista2 = lista1 #Copia de referencia (memoria)
lista2

[2, 5, 8]

In [ ]:
lista2.append(4)
lista1

[2, 5, 8, 4]

In [ ]:
#Caso 2
lista1 = [2, 5, 8]
lista2 = list(lista1) #Copia
lista2

[2, 5, 8]

In [ ]:
lista2.append(4)
lista1

[2, 5, 8]

In [ ]:
def cambio_divisa(precios_dolares):
    for i in range(len(precios_dolares)):
        precios_dolares[i] *= 1000
    
    return precios_dolares

precios_dolares = [2, 5, 10, 0.5]
precios_clp = cambio_divisa(precios_dolares)

In [ ]:
precios_clp

[2000, 5000, 10000, 500.0]

In [ ]:
precios_dolares

[2000, 5000, 10000, 500.0]

In [ ]:
precios_clp[0] = 4000
precios_dolares

[4000, 5000, 10000, 500.0]

In [ ]:
def cambio_divisa(precios_dolares):
    for i in range(len(precios_dolares)):
        precios_dolares[i] *= 1000
    
    return precios_dolares

precios_dolares = [2, 5, 10, 0.5]
precios_clp = cambio_divisa(list(precios_dolares))

In [ ]:
precios_clp

[2000, 5000, 10000, 500.0]

In [ ]:
precios_dolares

[2, 5, 10, 0.5]

In [ ]:
precios_clp[0] = 4000
precios_clp

[4000, 5000, 10000, 500.0]

In [ ]:
precios_dolares

[2, 5, 10, 0.5]

In [ ]:
lista1 = [["Manzana", 3, False], ["Pera", 1, False], ["Manzana", 2, True], "hola"]

for elemento in lista1:
    print(elemento)

['Manzana', 3, False]
['Pera', 1, False]
['Manzana', 2, True]
hola

In [ ]:
lista1 = [["Manzana", 3, False], ["Pera", 1, False]]

for stock in lista1:
    print("Producto: ")
    for elemento in stock:
        print(elemento)
    
    print("\n\n")

Producto:
Manzana
3
False



Producto:
Pera
1
False

In [ ]:
list = [1, 2, 3]
list = list * 2
print(list)

[1, 2, 3, 1, 2, 3]

In [ ]:
lista = [10, 20, 30]
lista.insert(1, 15)
print(lista)

None
None

In [ ]:
a = [1, 2, 3]
b = a
b.append(4)
print(a)

In [ ]:
lista = [1, 2, 3, 4]
del lista[1]
print(lista)

In [ ]:
lista = [1, 2, 3]
print(lista.count(4))

0

In [ ]:
lista = ["Manzana", "Pera", "Tomate"]
lista.index("Kiwi")

ValueError: 'Kiwi' is not in list

In [ ]:
lista = ["Manzana", "Pera", "Tomate", "Naranja", "Palta", "Toronja"]
print(max(lista))

Toronja

In [ ]:
lista = ["Manzana", 3, False]
sum(lista)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [ ]:
m = [[0]*3]*3
m[0][0] = 1
print(m)

[[1, 0, 0], [1, 0, 0], [1, 0, 0]]

In [ ]:
numeros = [3, 1, 2]
x = numeros.sort()
print(x, numeros)

None [1, 2, 3]

In [ ]:
lista1 = [1, 2, 3]
lista2 = lista1
lista3 = lista1[:]

lista2.append(4)
lista3.append(5)
print(lista1, lista2, lista3)

[1, 2, 3, 4] [1, 2, 3, 4] [1, 2, 3, 5]

In [72]:
numeros = [1, 2, 2, 3, 4, 5, 5, 6]

for num in numeros:
    if num % 2 == 0:
        numeros.remove(num)

print(numeros)

[1, 2, 3, 5, 5]

In [73]:
def transformar(lista):
    lista.reverse()
    lista.append(8)
    del lista[0]
    lista.remove(2)
    return lista + [6]

original = [1, 2, 3, 2, 4]
print(transformar(original))

[3, 2, 1, 8, 6]

In [74]:
def transformar(lista):
    lista.append(10)
    lista.sort()
    return lista[1]

numeros = [7, 3, 5]
resultado = transformar(numeros)
print(numeros)
print(resultado)

[3, 5, 7, 10]
5

In [75]:
estudiante = {
    "nombre": None,
    "rol" : None,
    "nota_tareas": []
}

estudiante["nombre"] = "Sherlock"
estudiante["rol"] = "202581023-2"

for i in range(4):
    estudiante["nota_tareas"].append(91 + i * 3)
print(estudiante)

{'nombre': 'Sherlock', 'rol': '202581023-2', 'nota_tareas': [91, 94, 97, 100]}

In [76]:
estudiante["notas_TS"] = [100, 100, 100, 100, 100, 100]
print(estudiante)

{'nombre': 'Sherlock', 'rol': '202581023-2', 'nota_tareas': [91, 94, 97, 100], 'notas_TS': [100, 100, 100, 100, 100, 100]}

In [77]:
estudiante[2] = ["ramo"] #Salvedades
print(estudiante)

{'nombre': 'Sherlock', 'rol': '202581023-2', 'nota_tareas': [91, 94, 97, 100], 'notas_TS': [100, 100, 100, 100, 100, 100], 2: ['ramo']}

In [78]:
estudiante["nota_tareas"] = [100] * 4
print(estudiante)

{'nombre': 'Sherlock', 'rol': '202581023-2', 'nota_tareas': [100, 100, 100, 100], 'notas_TS': [100, 100, 100, 100, 100, 100], 2: ['ramo']}

In [79]:
del estudiante[2]
del estudiante["notas_TS"]
print(estudiante)

{'nombre': 'Sherlock', 'rol': '202581023-2', 'nota_tareas': [100, 100, 100, 100]}

In [80]:
for clave in estudiante: #Recorro el diccionario
    print(clave, ":", estudiante[clave])

for nota in estudiante["nota_tareas"]: #recorro la lista asociada a la clave "notas_tareas" del diccionario
    print(nota)

nombre : Sherlock
rol : 202581023-2
nota_tareas : [100, 100, 100, 100]
100
100
100
100

In [81]:
print("hola")

hola

In [ ]:
inscripciones = ["MAT071", "MAT021", "FIS120", "FIS130", 
                "INF253", "QUI010", "ELI015", "MAT021",
                "MAT071", "QUI010", "FIS130", "MAT022", "MAT021",
                "FIS130", "ELI015", "MAT061", "QUI010"]
pae = {}

for inscripcion_pae in inscripciones:
    if inscripcion_pae not in pae: #Consulto si la llave se encuentra o no en el diccionario
        pae[inscripcion_pae] = 0 #¿Por qué la inicializo en 0 y no en 1?
    pae[inscripcion_pae] += 1

print(pae)

{'MAT071': 2, 'MAT021': 3, 'FIS120': 1, 'FIS130': 3, 'INF253': 1, 'QUI010': 3, 'ELI015': 2, 'MAT022': 1, 'MAT061': 1}

In [22]:
for ramo in pae: #Error no trivial, ¿Cual es la diferencia con listas?
    if pae[ramo] < 20:
        del pae[ramo]

print(pae)

RuntimeError: dictionary changed size during iteration

In [ ]:
lista = [1, 2, 3]
for x in lista:
    print(x)
    if x == 2:
        lista.append(4)

1
2
3
4

In [ ]:
lista = [[1, 2], [0, 13], [20, 3, 3], [1, 3], [1], [5, 4], [True]]
lista.sort() #CUIDADO, NO PUEDO HACER SORT
print(lista)

[[0, 13], [1], [True], [1, 2], [1, 3], [5, 4], [20, 3, 3]]

In [ ]:
lista = [[1, 2], ["Patricio Estrella", 1], [3]]
lista.sort() #No puedo comparar un string con un entero, flotante o booleano

TypeError: '<' not supported between instances of 'str' and 'int'

In [ ]:
inf129y_asistencia = {
    "Malcom": 10,
    "Dui": 10,
    "Lois": 8,
    "Reese": 2,
}
lista_aux = []
for alumno in inf129y_asistencia: #recordar que la variable del for toma solo la clave del dict
    lista_aux.append([alumno, inf129y_asistencia[alumno]])

print(lista_aux)

[['Malcom', 10], ['Dui', 10], ['Lois', 8], ['Reese', 2]]

In [ ]:
boletas = [200, 120, 300, 70, 80, 21]
#Digamos que cualquier boleta sobre los 100 pesos, debe pagar + intereses
#Y queremos informar mediante código todas las boletas que pagan + intereses
aux = []

for boleta in boletas:
    if boleta > 100:
        aux.append(boleta)

print(aux)